.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{ href: (url_for [doc]) }
          .doc
            %p.title= doc.title
            %p.date= "Last Updated: #{time_ago_in_words(doc.updated_at)}"
    - else
      %h2 Create Document!
      %p All your files are belong to us. Organized, always.
      %button= link_to 'Create Document', new_doc_path
