#banner
  .banner_content
    %h1 FileBase
    %p All your files are belong to us. Organized, always.
    %button= link_to "Register", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Much Wow!"
    %p.name - Doge
    %p.quote "FileBase brings peace to all the things."
    %p.name - M. Gandhi

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Syntax Highlighting & Markdown Support
        %p CSS, ERB, Go, HAML, HTML, JSON, Java, JavaScript
        %p PHP, Python, Ruby, SQL, SASS, XML, YAML. 
        %p Make your documents stand out!
      .callout
        %h2 Export to PDF or Word
        %p FileBase can easily export to Word or PDF
        %p Document format you need readily available!
      .callout
        %h2 Document Everything With FileBase
        %p Processes, Code Snippets, Repeatable Tasks.

#bottom_cta
  .wrapper
    %h2 Click here!
    %p Files are belong to us!
    %button= link_to "Join Now", new_user_registration_path
