#banner
  .banner_content
    %h1 FileBase
    %p All your files are belong to us. Organized, always.
    %button= link_to "Register", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Much Wow!"
    %p.name - Doge
    %p.quote "FileBase brings peace to all the things."
    %p.name - M. Gandhi

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Syntax Highlighting & Markdown Support
        %p C, C++, CSS, ERB, Go, HAML, HTML, JSON, Java, JavaScript, PHP, Python, Ruby, SQL, SASS, XML, YAML. Make your documents stand out!
      .callout
        %h2 Export to PDF or Word
        %p With support to export PDF or Word using FileBase you will always have the document format you need!
      .callout
        %h2 Document Everything With FileBase
        %p Processes, Code Bases, Snippets, Repeatable Tasks.

#bottom_cta
  .wrapper
    %h2 Click here!
    %p Files are belong to us!
    %button= link_to "Join Now", new_user_registration_path
