#banner
  .banner_content
    %h1 FileBase
    %p All your files are belong to us. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Pok pok plaid polaroid disrupt edison bulb messenger bag sriracha mixtape poke shabby chic farm-to-table pug echo park air plant. Tote bag subway tile gastropub sriracha, VHS migas palo santo etsy tumeric hexagon shaman celiac. Tofu kogi woke cardigan stumptown helvetica kale chips subway tile twee typewriter hashtag four loko. Marfa man bun retro everyday carry dreamcatcher bespoke. Mlkshk edison bulb sartorial normcore, asymmetrical brunch crucifix lomo affogato roof party.


#bottom_cta
  .wrapper
    %h2 Click here!
    %br
    %button= link_to "Join Now", new_user_registration_path
